<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BOARD_HEIGHT" value="10"/>
    <add key="BOARD_WIDTH" value="10"/>
    <add key="SHORTEST_SUBMARINE" value="3"/>
    <add key="LONGEST_SUBMARINE" value="5"/>
  </appSettings>
</configuration>